params {
    // Pipeline Options
    project         = null
    email          = null
}

profiles {
    debug {
        process.beforeScript = 'echo $HOSTNAME'
        cleanup = false
    }
    conda {
        conda.enabled = true
        conda.createTimeout = '1 h'
    }
    docker {
        docker.enabled = true
        docker.userEmulation = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

manifest {
    name            = 'nf-irida'
    author          = 'Thanh Le Viet'
    homePage        = 'https://github.com/quadram-institute-bioscience/nf-irida'
    description     = 'Nextflow pipeline for generate IRIDA sample sheet'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
} 