process {
    cpus = 1
    memory = 2.GB
    time = 1.hour

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries = 3
    maxErrors = '-1'
}

// Global default params
params {
    // Defaults only, expecting to be overwritten
    max_memory = 8.GB
    max_cpus = 4
    max_time = 240.h
} 